@import 'variables';

.useful-links {
  padding: 50px 15px 15px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  &__label {
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 15px;
  }
  .list {
    padding: 15px;
    background-color: #fff;
    margin-bottom: 30px;
    &__item {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      &__label {
        color: #673ab7;
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 10px;
        width: 100%;
        display: block;
      }
      a {
        text-decoration: none;
        font-style: italic;
        color: #2c3e50;
        word-break: break-word;
      }
    }
  }
}
